<div class="login-wrapper">
  <form class="login" [formGroup]="signUp">
    <section class="title">
      Hobeei's ID Card Maker
      <h5 class="hint">Create an account to use this awesome platform !</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only" for="f_name">Full Name</label>
        <input type="text" id = "f_name" name="fullname" clrInput autocomplete="off" formControlName="fullname"/>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="email" name="email" clrInput autocomplete="off" formControlName="email"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword  formControlName="password"/>
      </clr-password-container>
      <div class="error" >
        Invalid user name or password
      </div>
      <button type="submit" (click)="addNewUser()" class="btn btn-primary" [disabled]="!signUp.valid" >CREATE ACCOUNT</button>
      <div class="lower_text">
        <a [routerLink]="['../sign-in']">Already registered? Sign In</a>
      </div>
    </div>
  </form>
</div>
