<div class="login-wrapper">
  <form class="login" [formGroup]="signIn">
    <section class="title">
      Hobeei's ID Card Maker
      <h5 class="hint">Let's help you make an awesome ID Card!</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text" name="email" clrInput  formControlName="email" autocomplete="off"/>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword  formControlName="password" autocomplete="off"/>
      </clr-password-container>
      <div class="error" [ngClass]="{'active': isError}" >
        Invalid user name or password
      </div>
      <button type="submit" (click)="logIn()" class="btn btn-primary">Login</button>
      <div class="lower_text">
      <a [routerLink]="['../sign-up']">Not Registered? Sign up to use</a>
      </div>
    </div>
  </form>
</div>
