  <div class="clr-row">
    <div class="clr-col-lg-12 clr-col-12">
       <form [formGroup]="addIdCardForm" clrForm>
      <p>
        <input  type="text" formControlName="fullname" autocomplete="off" (keyup)="sendPreviewDetails()" name="fullname" placeholder="Full Name" >
      </p>
      <p>
        <input  type="text" formControlName="age" autocomplete="off" (keyup)="sendPreviewDetails()" name="age" placeholder="age" >
      </p>
      <p>
        <input type="text" formControlName="bloodGroup" autocomplete="off" (keyup)="sendPreviewDetails()" name="bloodGroup" placeholder="Blood Group" >
      </p>
      <p>
        <input type="text" formControlName="location" autocomplete="off" (keyup)="sendPreviewDetails()" name="location" placeholder="location" >
      </p>
      <p>
        <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="addId()">Validate</button>
      </p>
      </form>
     </div>
  </div>
