.lower_text {
  margin-top: 3%;
  text-align: center;
}
.lower_text a {
  cursor: pointer;
}
.login-wrapper {
  background: url(app/pre-login/shared/images/1500x500.jpg) black no-repeat ;
  background-size: cover;
}
